<ion-view title="Notifications">
  <ion-nav-buttons side="right">
   <a ui-sref="intro" class="button button-icon icon ion-unlocked" ng-click="logout()"></a>
  </ion-nav-buttons>
  <ion-content class="padding">
    <!-- <div class="list list-inset">
      <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text" placeholder="Search" ng-model="$parent.query">
      </label>
    </div> -->
    <div class="list">
      <a href="#" class="item" ng-if="!services.length">ไม่พบรายการ</a>
      <a class="item item-icon-right" href="#/srrt/srrt-preview/{{ s.id }}" ng-repeat="s in services | filter: query" ng-if="services.length">
        <h2>เพศ {{ s.sex }} - ว้นที่ {{ s.date_serv }}</h2>
        <p>วันที่รายงาน {{ s.report_date }}</p>
        <i class="icon ion-ios-arrow-right default"></i>
      </a>
    </div>
  </ion-content>
</ion-view>
